//variables font-size
$small: 14px;
$x-small: 16px;
$medium: 18px;
$x-medium: 20px;
$large: 22px;
$x-large: 24px;

//variables color
$color-gray: rgba(181, 178, 178, 0.849);
$color-red: rgba(177, 21, 21, 0.736);
$color-white: rgb(227, 221, 213);