@import "../abstracts/variables";
@import "../abstracts/mixin";

/*estilo fotos tablet*/
@media (min-width: 768px) and (max-width: 1024px){
//sección principal
    main{
        section{
            .title-pages{
                font-size: $x-large;
            }
            .pics-grid{
                @include display-grid(1fr);
                padding: 10px;
                img{
                    height: auto;
                }
            }
        }
    }
}