@import "../abstracts/variables";
@import "../abstracts/mixin";

/*estilo index tablet*/
@media (max-width: 1024px){
//sección principal
    main{
        .flex-section{
            div{
                .index-title{
                    font-size: $x-large;
                    padding: 8px;
                    margin: 0px 0 0 50px;
                    width: 85%;
                }
                p{
                    margin: 30px 0 0 50px;
                    font-size: $large;
                    width: 85%;
                }
            }
            .vertical{
                display: none;
            }
        }
    }
//sección video
    section{
        .video-flex{
            @include flex-center;
            margin: 0;
            .video{
                margin-top: 50px;
                width: 100%;
                height: 70vh;
            }
        }
    }
}