@import "../abstracts/variables";
@import "../abstracts/mixin";

/*estilo integrantes tablet*/
@media (min-width: 768px) and (max-width: 1024px){
//sección principal
    main{
        .grid-integrantes{
            div{
                .title-pages{
                    font-size: $x-large;
                    padding: 8px;
                    margin: 20px 0 20px 0;
                }
            }
            div{
                .integrantes{
                    width: 80%;
                }
                .title-cada{
                    font-size: $large;
                    margin-top: 15px;
                }
                p{
                    font-size: $x-medium;
                    margin-bottom: 25px;
                }
            }
        }
    }
}