@import "../abstracts/variables";
@import "../abstracts/mixin";

/*estilo redes sociales*/
main{
    .bg-redes{
        background-image: url(https://agusferraz7.github.io/proyectocoder/img/redes/pic-redes.jpg);
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
        .ul-flex{
            @include flex-center;
            gap: 20px;
            padding: 0;
            li{
                list-style: none;
                a{
                    .redes{
                        width: 50px;
                        backdrop-filter: blur(1px);
                        margin-top: 50px;
                        &:hover{
                            border: 3px solid $color-red;
                            @include border-radius(100%);
                            transform: scale(1.3)
                        }
                    }
                }
            }
        }
    }
}